body{
  /*background: #F0F2F0;
  background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);
  background: linear-gradient(to right, #000C40, #F0F2F0);
  */
}
.pill-icon{
  text-align: center;
  width: 40px;
  top: -6px;
  position: relative;
  font-size: 28px;
}
.arrow-icon{
  font-size: 56px;
  color: #757575;
}
.arrow-icon-back{
  font-size: 45px;
  float: left;
  color: #757575;
}
button.delete,
button.update{
  float: right;
  height: 45px;
  margin: 0 5px;
}
.mdl-list__item--three-line{
  width: 95%;
  margin: 10px auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  position: relative;
}
.amount{
  position: absolute;
  left: 5px;
  bottom: 0;
}
#description-short{
  overflow: hidden;
}
.page-content.tab-two{
  text-align: center;
}
.mdl-textfield__label{
  font-size: 20px;
}
.mdl-textfield__input{
  font-size: 25px;
}
.reminder .mdl-switch{
  width: auto;
  float: right;
}
.medicines{
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  transition: left 500ms ease-in-out;
}
.medicineinfo{
  position: fixed;
  z-index: 20;
  left: 100%;
  width: 100%;
  transition: left 500ms ease-in-out;
}
.slide_in{
    left: 0%;
    transition: left 500ms ease-in-out;
}
.slide_out{
  left: -100%;
  transition: left 500ms ease-in-out;
}
.demo-card-square.mdl-card {
  width: 95%;
  max-width: 380px;
  margin: auto;
  height: auto;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  /*background: url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;*/
  background: rgb(63,81,181);
  background:url('images/chemistry.svg') 5% 45% no-repeat rgb(63,81,181);
  background-size: 32%;
  height: 145px;
  position: relative;
}
.mdl-card__title .header_text{
  position: absolute;
  right: 5%;
  bottom: 15%;
}
.mdl-card__actions.mdl-card--border{
  overflow-x: auto;
}
.mdl-list__item--three-line .mdl-list__item-primary-content{
  height: 60px;
}
.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric{
  text-align: center;
}
.mdl-card__supporting-text{
  height: auto;
  max-height: 100px;
  overflow-y: scroll;
}
#medicine-update-form{
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  background: white;
  left: 0;
  height: 304px;
  overflow-x: auto;
}
.mdl-mini-footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}
